app:
  title: Devportal 
  baseUrl: http://localhost:3000
  #googleAnalyticsTrackingId: # UA-000000-0
  #datadogRum:
  #  clientToken: '123456789'
  #  applicationId: qwerty
  #   site: # datadoghq.eu default = datadoghq.com
  #   env: # optional

  support:
    url: https://github.com/backstage/backstage/issues # Used by common ErrorPage
    items: # Used by common SupportButton component
      - title: Issues
        icon: github
        links:
          - url: https://github.com/backstage/backstage/issues
            title: GitHub Issues
      - title: Discord Chatroom
        icon: chat
        links:
          - url: https://discord.gg/MUpMjP2
            title: '#backstage'

#add permission
permission:
  enabled: false

backend:
  # Used for enabling authentication, secret is shared by all backend plugins
  # See https://backstage.io/docs/tutorials/backend-to-backend-auth for
  # information on the format
  auth:
    keys:
      - secret: ${OKTA_CLIENT_SECRET}
  baseUrl: http://localhost:7007
  listen:
    port: 7007
  database:
    client: pg
    #verificar com luan 
    #pluginDivisionMode: schema
    connection:
      host: localhost
      database: platform_devportal
      port: ${DB_PORT}
      user: ${DB_USER}
      password: ${DB_PASSWORD}
  #database:
  #  client: better-sqlite3
  #  connection: ':memory:'

  cache:
    store: memory
  cors:
    origin: http://localhost:3000
    methods: [GET, POST, PUT, DELETE, PATCH]
    credentials: true
  csp:
    connect-src: ["'self'", 'http:', 'https:']
    # Content-Security-Policy directives follow the Helmet format: https://helmetjs.github.io/#reference
    # Default Helmet Content-Security-Policy values can be removed by setting the key to false
  reading:
    allow:
      - host: example.com
      - host: '*.mozilla.org'
  # workingDirectory: /tmp # Use this to configure a working directory for the scaffolder, defaults to the OS temp-dir

# See README.md in the proxy-backend plugin for information on the configuration format
#proxy:

organization:
  name: Devportal

# Reference documentation http://backstage.io/docs/features/techdocs/configuration
# Note: After experimenting with basic setup, use CI/CD to generate docs
# and an external cloud storage when deploying TechDocs for production use-case.
# https://backstage.io/docs/features/techdocs/how-to-guides#how-to-migrate-from-techdocs-basic-to-recommended-deployment-approach
techdocs:
  builder: 'local' # Alternatives - 'external'
  generator:
    runIn: 'docker'
    # dockerImage: my-org/techdocs # use a custom docker image
    # pullImage: true # or false to disable automatic pulling of image (e.g. if custom docker login is required)
  publisher:
    type: 'local' # Alternatives - 'googleGcs' or 'awsS3' or 'azureBlobStorage' or 'openStackSwift'. Read documentation for using alternatives.

kubernetes:
  serviceLocatorMethod:
    type: 'multiTenant'
  clusterLocatorMethods:
    - type: 'config'
      clusters: []

integrations:
  github:
    - host: github.com
      token: ${GITHUB_TOKEN_SECRET}
  gitlab:
    - host: gitlab.com
      token: ${GITLAB_TOKEN_SECRET}

catalog:
  providers:
    github:
      #providerId: # the provider ID can be any camelCase string
      #  organization: veecode-platform # string
      #  catalogPath: /catalog-info.yaml # string
      #  filters:
      #    branch: master # string
      #    repository: devportal-spechouse # Regex
      validateLocationsExist:
        organization: veecode-platform # string
        catalogPath: /catalog-info.yaml # string
        filters:
          branch: master # string
          repository: devportal-spechouse # Regex
        validateLocationsExist: true # optional boolean
#    gitlab:
#      yourProviderId:
#        host: gitlab.com # Identifies one of the hosts set up in the integrations -  
#        branch: main # Optional. Uses `master` as default
#        group: ${GITLAB_GROUP_NAME} # Optional. Group and subgroup (if needed) to look for repositories. If not present the whole project will be scanned
#        entityFilename: catalog-info.yaml # Optional. Defaults to `catalog-info.yaml`
#        #projectPattern: /[\s\S]*/ # Optional. Filters found projects based on provided patter. Defaults to `/[\s\S]*/`, what means to not filter anything

auth:
  environment: development
  ### Providing an auth.session.secret will enable session support in the auth-backend

  session:
    secret: ${AUTH_USER_SESSION_SECRET}
  providers:  
    okta:
      development:
        clientId: ${OKTA_CLIENT_ID}
        clientSecret: ${OKTA_CLIENT_SECRET}
        audience: ${OKTA_AUDIENCE}
        authServerId: ${OKTA_AUTH_SERVER_ID}
        apiToken: ${OKTA_API_TOKEN}

    keycloak:
      development:
        metadataUrl: ${KEYCLOAK_METADATA_URL}
        clientId: ${KEYCLOAK_CLIENT_ID}
        clientSecret: ${KEYCLOAK_CLIENT_SECRET}
        prompt: auto

#todo put into env 
okta:
  host: ${OKTA_TESTE_HOST}
  token: ${OKTA_TESTE_TOKEN}

kong: 
  api-manager: ${KONG_OKTETO_HOST}
  admin-token: ${KONG_ADMIN_TOKEN}
  