name: Publish Devportal Helm Chart

on:
  push:
    branches: ["main"]

jobs:
  #Getting requided versions for next steps
  requirements:
    # runs-on: [self-hosted, macOS, ARM64]
    runs-on: ubuntu-latest
    outputs:
      app_version: ${{ env.app_version }}
      chart_version: ${{ env.chart_version }}
      node_version: ${{ env.node_version }}
    steps:
      - uses: actions/checkout@v3
      - name: Getting versions
        run: |
          echo "app_version=$(jq -r '.version' package.json)" >> $GITHUB_ENV
          echo "chart_version=$(yq e '.version' chart/Chart.yaml)" >> $GITHUB_ENV
          echo "node_version=$(cat .nvmrc | grep -o '[0-9]*')" >> $GITHUB_ENV
         
  publishing:
    needs: [requirements, buildDevportal]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup helm
        uses: azure/setup-helm@v3

      - name: Installing frigate
        run:  pip install frigate
      
      - name: Generating Helm Documentation
        run: bash chart/generate-docs.sh
      
      - name: Check if chart docs have been generated as expected.
        run: |
          bash chart/generate-docs.sh
          if [ ! -f "./chart/README.md" ]; then
            echo "Error: chart/README.md does not exist."
            exit 1
          fi
          echo "chart/README.md created."

      - name: Build Helm Package
        run: |
          yq e '.image.repository = "veecode/devportal-bundle" ' -i chart/values.yaml
          yq e '.image.tag = "${{ needs.requirements.outputs.app_version }}" ' -i chart/values.yaml
          yq e '.appVersion= "${{ needs.requirements.outputs.app_version }}" ' -i chart/Chart.yaml
          mkdir -p charts
          helm package --sign --key 'Veecode Platform' --passphrase-file ./chart/passphrase --keyring ./chart/certificate.gpg chart --destination charts/

      - name: Publish Helm Charts
        uses: nkoppel/push-files-to-another-repository@v1.1.0
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-files: "charts/devportal-${{ needs.requirements.outputs.chart_version }}.tgz charts/devportal-${{ needs.requirements.outputs.chart_version }}.tgz.prov"
          destination-username: 'veecode-platform'
          destination-repository: 'public-charts'
          destination-branch: 'main'
          destination-directory: 'devportal'
          commit-email: 'veecode-bot@vee.codes'
          commit-username: 'veecode-bot'
          commit-message: "Publishing new version devportal-${{ needs.requirements.outputs.chart_version }}"
 
      - name: Prepare doc references
        run: |
          mkdir -p tmpDocs/devportal
          cp packages/app/public/theme.json tmpDocs/devportal/
          cp keycloak/realm-platform-devportal.json tmpDocs/devportal/
          cp docs/public/examples/k8s-service-account.yaml tmpDocs/devportal/
        
      - name: Publishing doc references
        uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source_file: "tmpDocs/devportal/"
          destination_repo: "${{ github.repository_owner }}/support"
          destination_branch: "gh-pages"
          destination_folder: "references"
          user_email: 'veecode-bot@vee.codes'
          user_name: 'veecode-bot'
          commit_message: "Update devportal docs reference"
     
      - uses: rickstaa/action-create-tag@v1
        id: "Tag_create"
        with:
          tag: "${{ needs.requirements.outputs.app_version }}"
          tag_exists_error: false
          message: "Version ${{ needs.requirements.outputs.app_version }}"
